@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-sarif;
  color: #262a3f;
  font-weight: 300;
  line-height: 1.6; }

.container {
  background-color: white;
  display: grid;
  grid-template-rows: 80vh repeat(2, min-content) 45vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(7rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(7rem, 1fr) [full-end]; }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 100vh repeat(2, min-content) 55vw repeat(3, min-content); } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 100vh repeat(6, min-content); } }

*:focus {
  outline: none; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: Impact, Charcoal, sans-serif;
  font-weight: 400; }

.heading-3 {
  font-size: 2.4rem; }

.btn {
  color: #fff;
  background-color: #2b2b2b;
  border: none;
  outline: none;
  transition: all .2s; }
  .btn:hover {
    background-color: #00a1ab; }

.bg-video {
  height: 100%;
  position: absolute;
  z-index: -1; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.navigation {
  grid-column: 1 / -1;
  height: 100%; }
  .navigation__list {
    background-color: rgba(38, 42, 63, 0.712);
    position: relative;
    z-index: 6;
    font-size: 2rem;
    color: #f9f7f6;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
    justify-content: end; }
  .navigation__link {
    text-decoration: none;
    display: inline-block;
    color: currentColor;
    padding: 2rem 3rem;
    transition: all .2s; }
    .navigation__link:hover {
      background-color: #00a1ab; }

.header {
  background-color: rgba(0, 26, 110, 0.726);
  position: relative;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr repeat(2, 15rem) 1fr;
  grid-template-rows: min-content min-content; }
  .header__btn {
    grid-column: 2 / 4;
    height: 4rem;
    width: 120%;
    justify-self: center;
    margin-top: 3rem;
    display: flex;
    background-color: rgba(38, 42, 63, 0.712);
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase; }
  .header__logo {
    height: 250px;
    grid-column: 2 / 4;
    margin-top: 6rem; }
    @media only screen and (max-width: 62.5em) {
      .header__logo {
        margin-top: 3rem; } }
    @media only screen and (max-width: 50em) {
      .header__logo {
        height: 80%;
        width: 80%;
        margin: 3rem auto 0 auto; } }
    .header__logo img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.vehicles {
  position: relative;
  margin: 10rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .vehicles {
      grid-column: full-start / full-end; } }
  .vehicles__title {
    position: absolute;
    left: 50%;
    top: -7rem;
    transform: translateX(-50%);
    font-size: 2.7rem;
    text-shadow: 1px 1px 9px black;
    white-space: nowrap; }
  .vehicles__button {
    position: absolute;
    left: 50%;
    bottom: -7rem;
    transform: translateX(-50%);
    padding: 0 2rem;
    text-decoration: none;
    font-size: 2.7rem;
    text-shadow: 1px 1px 9px black;
    white-space: nowrap; }

.car {
  position: relative;
  perspective: 150rem;
  transition: all .4s;
  height: 48rem; }
  .car__card {
    background-color: #f9f7f6;
    box-shadow: 1px 1px 25px black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px;
    grid-row-gap: 2rem; }
    .car__card-btn {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      padding: 2rem; }
    .car__card--front {
      position: absolute;
      top: 0;
      left: 0;
      transition: all .4s;
      backface-visibility: hidden;
      height: 100%; }
    .car__card--back {
      height: 100%;
      width: 100%;
      padding: 9rem 6rem;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7)), url(../img/gal6.jpg);
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      backface-visibility: hidden;
      transition: all .4s;
      transform: rotateY(180deg); }
  .car:hover .car__card--front {
    transform: rotateY(-180deg); }
  .car:hover .car__card--back {
    transform: rotateY(0deg); }
  .car__icon {
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    fill: #3a3e54; }
  .car__slika {
    filter: invert(22%) sepia(10%) saturate(1675%) hue-rotate(193deg) brightness(89%) contrast(86%); }
  .car__card img {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
    object-fit: cover; }
  .car__name {
    width: 80%;
    grid-column: 1  / -1;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
    background-color: #00a1ab;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    padding: 1.2rem;
    transform: translateY(50%); }
  .car__year, .car__horse {
    margin-top: 3rem;
    margin-bottom: 2rem; }
  .car__year, .car__horse, .car__speed, .car__price {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin-left: 3rem; }
  .car__hover {
    display: inline-block;
    padding: 1rem;
    grid-column: 1 / -1;
    text-align: center;
    background-color: #001a6e;
    color: #fff;
    font-size: 2rem; }

.testimonials {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  position: relative;
  margin: 15rem 0;
  padding: 4rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem; }
  @media only screen and (max-width: 50em) {
    .testimonials {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      margin: 5rem 0;
      padding: 2rem; } }
  .testimonials__title {
    position: absolute;
    left: 50%;
    top: -7rem;
    transform: translateX(-50%);
    font-size: 2.7rem;
    text-shadow: 1px 1px 9px black;
    white-space: nowrap; }
  .testimonials__card {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 3rem min-content; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__card {
        grid-column-gap: 1rem; } }
  .testimonials__photo {
    grid-row: 1 / span 2;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    transition: all .2s; }
    .testimonials__photo:hover {
      filter: blur(2px); }
  .testimonials__name {
    white-space: nowrap; }
  .testimonials__text {
    margin-top: 2rem;
    font-size: 1.6rem;
    quotes: "“" "”" "‘" "’";
    position: relative; }
    .testimonials__text::before {
      content: open-quote;
      font-size: 2rem; }
    .testimonials__text::after {
      content: close-quote;
      font-size: 2rem; }

.about__pictures-left {
  grid-column: full-start / col-start 2; }
  @media only screen and (max-width: 50em) {
    .about__pictures-left {
      display: none; } }
  .about__pictures-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 90% 10%;
    filter: brightness(0.3);
    transition: all .2s; }
    .about__pictures-left img:hover {
      animation: move 2s infinite .2s;
      filter: brightness(0.9); }

@keyframes move {
  0%, 100% {
    object-position: 90% 10%; }
  50% {
    object-position: 10% 10%; } }

.about__content {
  background-image: linear-gradient(rgba(0, 26, 110, 0.526), rgba(0, 26, 110, 0.526)), url(../img/headquarters.jpg);
  background-size: cover;
  grid-column: col-start 2 / col-end 7;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr min-content min-content 1fr;
  grid-row-gap: 2rem;
  justify-items: center;
  color: #fff; }
  @media only screen and (max-width: 50em) {
    .about__content {
      grid-column: full-start / full-end; } }

.about__logo {
  width: 80%; }
  @media only screen and (max-width: 62.5em) {
    .about__logo {
      width: 50%; } }

.about__btn {
  align-self: start;
  padding: 1rem 2.5rem;
  font-size: 1.7rem;
  text-decoration: none; }

.about__title {
  font-size: 2rem; }

.about__text {
  max-width: 53rem;
  font-size: 1.6rem; }

.about__sponsors-text {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-column-gap: 3rem;
  color: rgba(249, 247, 246, 0.7); }
  .about__sponsors-text::before, .about__sponsors-text::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor; }

.about__sponsors-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-content: space-around;
  justify-items: center;
  align-items: center; }
  .about__sponsors-logos img {
    width: 100px;
    filter: grayscale(1); }
    @media only screen and (max-width: 62.5em) {
      .about__sponsors-logos img {
        width: 60%; } }
  .about__sponsors-logos > :nth-child(3) {
    width: 42px; }
    @media only screen and (max-width: 62.5em) {
      .about__sponsors-logos > :nth-child(3) {
        width: 32px; } }

.about__pictures-right {
  grid-column: col-end 7 / full-end; }
  @media only screen and (max-width: 50em) {
    .about__pictures-right {
      display: none; } }
  .about__pictures-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 90%;
    filter: brightness(0.3);
    transition: all .2s; }
    .about__pictures-right img:hover {
      animation: moveright 2s infinite .2s;
      filter: brightness(0.9); }

@keyframes moveright {
  0%, 100% {
    object-position: 10% 90%; }
  50% {
    object-position: 90% 90%; } }

.locations {
  background-color: #272727;
  grid-column: full-start / full-end;
  height: 50vh;
  overflow: hidden;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .locations {
      flex-direction: column; } }
  .locations__item {
    transform: skewX(-30deg);
    overflow: hidden;
    position: relative;
    flex: 1;
    transition: all .2s; }
    .locations__item:hover {
      /* transform: skewX(30deg); */
      flex: 2; }
    .locations__item:hover img {
      filter: brightness(1); }
    @media only screen and (max-width: 37.5em) {
      .locations__item {
        transform: skewX(0); } }
  .locations__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: skewX(30deg) translate(-50%, -50%);
    z-index: 30;
    font-size: 3rem;
    color: #fff;
    white-space: nowrap; }
    @media only screen and (max-width: 37.5em) {
      .locations__title {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .locations__title {
        transform: translate(-50%, -50%); } }
  .locations img {
    transform: skewX(30deg) translateX(-10%) scale(1.5);
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .2s;
    filter: brightness(0.5); }
    @media only screen and (max-width: 37.5em) {
      .locations img {
        width: 100%;
        transform: skewX(0); } }

.gallery {
  background-color: #f9f7f6;
  padding: 3rem 0;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 7vw);
  grid-gap: 1rem; }
  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__item--1 {
    grid-area: 1 / 1 / 3 / 3; }
  .gallery__item--2 {
    grid-area: 3 / 6 / 6 / 9; }
  .gallery__item--3 {
    grid-area: 1 / 3 / 4 / 6; }
  .gallery__item--4 {
    grid-area: 5 / 1 / 8 / 4; }
  .gallery__item--5 {
    grid-area: 4 / 3 / 5 / 4; }
    .gallery__item--5 img {
      object-position: 80% 80%; }
  .gallery__item--6 {
    grid-area: 4 / 4 / 6 / 6; }
  .gallery__item--7 {
    grid-area: 1 /6 / 3 / 9; }
  .gallery__item--8 {
    grid-area: 3 / 1 / 5 / 3; }
  .gallery__item--9 {
    grid-area: 6 / 6 / 8 / 9; }
  .gallery__item--10 {
    grid-area: 6 / 4 / 8 / 6; }

.footer {
  background-color: #262a3f;
  grid-column: full-start / full-end;
  padding: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 3rem; } }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 3rem; }
  .footer__item {
    list-style: none;
    text-align: center; }
  .footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: all .2s;
    align-self: center;
    padding: 1rem;
    display: block; }
    .footer__link:hover, .footer__link:active {
      background-color: rgba(255, 255, 255, 0.329);
      transform: translateY(-3px); }
  .footer__text {
    margin: 6rem auto 0 auto;
    text-align: center;
    max-width: 50rem;
    color: #aaa; }
